.popup__save-button {
  max-width: 100%;
  width: 100%;
  margin: 8px auto 37px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: opacity 0.2s linear;
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
}

.popup__save-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .popup__save-button {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 15px;
  }
}
