.element__photo {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
  background-color: black;
  color: white;
}

.element__photo:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .element__photo {
    width: 100%;
  }
}
